.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
  }

  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center; /* Center the heading */
  }
  
  .modal-content .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }

label[for="sort"] {
  font-weight: bold;
  display: block;
  margin-top: 20px; 
  color:#333;
}

#sort {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

#sort:hover {
  border-color: #007bff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Toast Notification */
.mat-snack-bar-container {
  background-color: #333; /* Dark background for toast */
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.mat-button {
  color: #ffcc00; /* Yellow color for Undo button */
  font-weight: bold;
}

/* Align search bar and sort dropdown on the same level */
.search-sort-container {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.sort-dropdown {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space between search bar and sort dropdown */
}

.sort-dropdown label {
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap; /* Prevent label from wrapping */
  font-size: 16px;
}

.sort-dropdown select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.confirm-btn {
  background-color: #28a745; /* Green for confirm */
  color: white;
}

.confirm-btn:hover {
  background-color: #218838;
}

.cancel-btn {
  background-color: #dc3545; /* Red for cancel */
  color: white;
}

.cancel-btn:hover {
  background-color: #c82333;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}