<div class="add-task-container">
  <h3>Add Task</h3>
  <form (ngSubmit)="onSubmit()">
    <label for="task">Task</label>
    <input
      id="task"
      type="text"
      [(ngModel)]="text"
      name="text"
      placeholder="Add Task"
      required
    />

    <label for="date">Date</label>
    <input
      id="date"
      type="date"
      [(ngModel)]="date"
      name="date"
      required
    />

    <label for="time">Time</label>
    <input
      id="time"
      type="time"
      [(ngModel)]="time"
      name="time"
      required
    />

    <label for="priority">Priority</label>
    <select id="priority" [(ngModel)]="priority" name="priority">
      <option value="low">Low</option>
      <option value="mid">Medium</option>
      <option value="high">High</option>
    </select>

    <button type="submit">Save Task</button>
  </form>
</div>